# Virtual environments
.venv/
venv/
env/

# Python cache / build
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.egg-info/
dist/
build/

# Spark / Parquet outputs
output/
*.parquet
*.crc
*.snappy
derby.log
metastore_db/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# IDE / Editors
.vscode/
.idea/
